<%- include("../partials/header"); %>
<div class="row">
  <div class="col-sm-6 ">
    <h3>Welcome Consumer</h3>
    <h4>Name: Ram Bahadur Nepali </h4>
  </div>

    <div class="col-sm-6 text-right">
      <h5>PKAB Address:19000825A5C67CE690BB </h5>
      <p>Last Login: October 2021</p>
   </div>
 </div>

<section class="ShopDetails">

  <div class="row">
    <div class="col-sm-2 center-the-card">
    <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <img class="card-img-top" src="/img/groceries.png" alt="Groceries">
      <h4>Veggies</h4>
      <a href="/Customer" class="btn btn-default">Add to Cart</a><br>
      <a href="/Customer" class="btn btn-default">Trace</a>
    </div>
  </div>
  </div>
  <div class="col-sm-2 center-the-card">
  <div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <img class="card-img-top" src="/img/groceries.png" alt="Groceries">
    <h4>Fruits</h4>
    <a href="/Customer" class="btn btn-default">Add to Cart</a><br>
    <a href="/Customer" class="btn btn-default">Trace</a>
  </div>
</div>
</div>
<div class="col-sm-2 center-the-card">
<div class="card text-center" style="width: 18rem;">
<div class="card-body">
  <img class="card-img-top" src="/img/groceries.png" alt="Groceries">
  <h4>Super Foods</h4>
  <a href="/Customer" class="btn btn-default">Add to Cart</a><br>
  <a href="/Customer" class="btn btn-default">Trace</a>
</div>
</div>
</div>
<div class="col-sm-2 center-the-card">
<div class="card text-center" style="width: 18rem;">
<div class="card-body">
  <img class="card-img-top" src="/img/groceries.png" alt="Groceries">
  <h4>Oil</h4>
  <a href="/Customer" class="btn btn-default">Add to Cart</a><br>
  <a href="/Customer" class="btn btn-default">Trace</a>
</div>
</div>
</div>
<div class="col-sm-2 center-the-card">
<div class="card text-center" style="width: 18rem;">
<div class="card-body">
  <img class="card-img-top" src="/img/herbs.png" alt="Herbs">
  <h4>Herbs</h4>
  <a href="/Customer" class="btn btn-default">Add to Cart</a><br>
  <a href="/Customer/herbs" class="btn btn-default">Trace</a>
</div>
</div>
</div>
<div class="col-sm-2 center-the-card">
<div class="card text-center" style="width: 18rem;">
<div class="card-body">
  <img class="card-img-top" src="/img/cosmetics.png" alt="Cosmetics">
  <h4>Cosmetics</h4>
  <a href="/Customer" class="btn btn-default">Add to Cart</a><br>
  <a href="/Customer/cosmetics" class="btn btn-default">Trace</a>
</div>
</div>
</div>

</div>


</section>


<%- include("../partials/footer"); %>
