<%- include("../partials/header"); %>
<h3>Welcome Logestics</h3>
<h4>Name: PK Global logestics </h4>
<h5>PKAB Address:19000825A5C67CE6CA05 </h5>
<p>Last Login: October 2021</p>

<section id="PK-Logestics">

<div class="row">
  <div class="col-sm-3 center-the-card">
  <div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <a href="/Customer/cosmetics" class="btn ">
      <img class="card-img-top" src="/img/production.png" alt="Crops Production">
      <h4>Production journery</h4>
    </a>

  </div>
</div>
</div>
  <div class="col-sm-3 center-the-card">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <a href="/Customer/cosmetics" class="btn">
          <img class="card-img-top" src="/img/store.png" alt="store">
          <h4>Retail Journey</h4>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 center-the-card">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <a href="/img/statPicture1.png" class="btn ">
          <img class="card-img-top" src="/img/analytics.png" alt="analytics">
          <h4>Statistics</h4>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 center-the-card">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <a href="/logistics/agreement" class="btn ">
          <img class="card-img-top" src="/img/agreement.png" alt="agreement">
          <h4>Smart agreement</h4>
        </a>
      </div>
    </div>
  </div>
</div>
</section>

<%- include("../partials/footer"); %>
