<%- include("../partials/header"); %>
<h3>Welcome Producer</h3>
<h4>Name: Mero Essential Oil Maufacturer Pvt. Ltd </h4>
<h5>PKAB Address:19000825A5C67CE690DA </h5>
<p>Last Login: October 2021</p>


<section id="Producer_cards">

<div class="row">
  <div class="col-sm-4 center-the-card">
  <div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <a href="/img/ss-crop-plantation.png" class="btn " >
      <img class="card-img-top" src="/img/crop.png" alt="Crops details">
      <h4>Farm Activites</h4>
    </a>

  </div>
</div>
</div>
  <div class="col-sm-4 center-the-card">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <a href="/producer/sellharvest" class="btn">
          <img class="card-img-top" src="/img/bid.png" alt="Bidding the harvest">
          <h4>Sell the Harvest</h4>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 center-the-card">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <a href="/producer/fundraising" class="btn ">
          <img class="card-img-top" src="/img/funds.png" alt="Fund Raising">
          <h4>Raise Funds</h4>
        </a>
      </div>
    </div>
  </div>
</div>
</section>

<%- include("../partials/footer"); %>
