<%- include("partials/header"); -%>
<h1>The only Tool you need</h1>
<p><%= about_content %></p>
<h3>Benefits</h3>
<ol>
  <li>Improve your bottom line</li>
  <li>Increase your productivity and profitability</li>
  <li>Minimise administrative overheads</li>
  <li>Reduce costs and debtor days outstanding</li>
  <li>Simple, accurate and easy-to-use</li>
  <li>Secure and private data storage</li>
</ol>
<br>
<p>To manage agricultural products as they move across the globe,
  businesses need a transparent, trustworthy platform to facilitate those transactions.
  PK Agro Blockchain builds networks amongst key stakeholders and improves time to market, while reducing supply chain costs and inefficiencies.</p>
<%- include("partials/footer"); -%>
