<%- include("partials/header"); -%>

<div class="contact_info">
<h1> Contact Usss..</h1>
<p><%= contact_content %> </p>
</div>
<img class="chain_img" src="/img/about_chain_img.png" alt="Farmers">


<%- include("partials/footer"); -%>
