.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	/* position: absolute; */
  position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

/* my changes */
.welcome_content{
  text-align: center;
}

#homepage_card{
  margin-top: 100px;
}

.center-the-card{
  display: grid;
  justify-content: center;
}

.card-img-top{
  height: 130px;
}

.chain_img{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.contact_info{
  text-align: center;
}

.ShopDetails, #broker-marketplace{
  margin-top: 50px;
}
