<%- include("../../partials/header"); -%>

<div class="intro">
<h3> Let's see explore the Product's Journey</h3>
<h4><font color=#1e81b0> For Instance: A consumer selects the perticular product of a brand/farm.
Then he/she would be able to track all the change of hands/materails that were used to make the products.
Also see the immutable reviews of past customers.
Hence, Trace the origin of the product.</font></h4>


<style >
  div{
    text-align: center;
  }
  .intro{
    padding-left:80px;
    padding-right: 80px;
  }
.Satosi>img{
  width: 90%;
}
</style>


<div class="wrapper">
  <div class="grid-item-bid">
    <br><br><br>
    <h4>DEMO of public ledger </h4>
    <p>We might as well start at the start, with the first BTC transaction sent between two people and the only one known to have been sent by Satoshi.
       It occurred on Jan. 12, 2009 when Satoshi Nakamoto sent 50 BTC to Hal Finney in block 170.</p>
    <img src="/img/First-BTC-transaction.png" alt="First-BTC-transaction">
  </div>
<div class="Satosi">
  <h3>Tracing Other Transactions made by that Address</h3>
  <img src="/img/satosi-address.png" alt="Satosi Bitcoin hash">
  <p>NEXT PAGE</p>

</div>
</div>

</div>
<%- include("../../partials/footer"); -%>
